[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/jparoly
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/jparoly
	label-Verified = -1..+1 group user/jparoly
	push = group user/jparoly
	read = group user/jparoly
	rebase = group user/jparoly
	removeReviewer = group user/jparoly
	submit = group user/jparoly
[access "refs/heads/*"]
	create = group user/jparoly
	push = +force group user/jparoly
	pushMerge = group user/jparoly
	read = group user/jparoly
[access "refs/tags/*"]
	push = group user/jparoly
	push = +force group user/jparoly
